/*
YANG ZHANG
CSE 154 AA
HW8
This is the css file for hw8
*/

.tile{
	border: 5px black solid;
	font-size: 40pt;
	width: 90px;
	height: 90px;
	float: left;
}

.blank{
	width: 100px;
	height: 100px;
	float: left;	
}
body,#shufflebutton{
	font-family: cursive;
	font-size: 14pt;
	text-align: center;
}

.cover:hover{
	border: 5px red solid;
}
#puzzlearea{
	width: 400px;
	height: 400px;
	margin: auto;
}